.filter-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.filter-container input {
    max-width: 300px;
}

.film-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.film-page-container {
    justify-self: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 70vw;
}

.film-poster-col {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 180px;
}

.film-details-col {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.film-page-container .film-subtitle {
    margin-block-end: 1em;
}

.film-poster-col .poster-image {
    width: 100%;
    height: auto;
    min-width: 180px;
    min-height: 240px;
    margin-top: 30px;
}

.film-poster-col button {
    width: 100%;
    margin-top: 20px;
}

.film-details-col .section-title {
    text-align: left;
}

.film-title-description .film-title {
    font-size: 40px;
    line-height: 40px;
}

.film-title-description .film-genre-director {
    color: var(--clr-on-surface-emphasis);
}

.film-title-description p {
    font-size: 20px;
}

.film-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.film-reviews .section-title {
    margin: 20px 0 20px 0;
}

.film-reviews .review-container {
    background: var(--clr-background-surface);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: fit-content;
    justify-content: left;
}

.film-reviews .profile-picture {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
}

.film-reviews .review-details {
    width: max-content;
    margin: 0 25px 0 25px;
}

.film-reviews .review-date {
    font-weight: normal;
    color: var(--clr-muted);
}

.film-reviews h6 {
    font-weight: bold;
}

.film-reviews p {
    font-size: 18px;
}

.film-reviews .review-stars-container {
    justify-content: left;
    gap: 12px;
}

.film-reviews .review-empty-text {
    color: var(--clr-muted);
    font-style: italic;
}

#film-form textarea {
    height: 9em;
}

.search-bar {
    min-width: 300px;
    font-size: 14px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 5px; /* Adjust the position as needed */
    transform: translateY(-50%);
    background: none;
    border: none;
    width: 30px;
    height: auto;
}

.trailer-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
}

.trailer-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player {
    width: 80vw;
    height: auto;
    max-width: 500px;
}