:root {
    /* Color  */
    --clr-background-base: #202028;
    --clr-background-disabled: #373b46;
    --clr-background-surface: #242632;
    --clr-primary: #985EFF;
    --clr-primary-dark: #3700B3;
    --clr-secondary: #018786;
    --clr-secondary-dark: #017374;
    --clr-danger: #C93650;
    --clr-danger-dark: #E51238;
    --clr-on-surface-emphasis: rgba(255, 255, 255, 0.60);
    --clr-muted: rgba(255, 255, 255, 0.38);

    /* Breakpoint  */
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --2xl: 1536px;

    /* Others  */
    --radius-lg: 2rem;
    --radius-md: 0.5rem;
    --spacing: 0.25rem;
    --transition: all 0.2s linear;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: var(--clr-background-base);
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

h2 {
    color: white;
    text-align: center;
}

h4 {

}

h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: white;
}

h6 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    color: white;
    margin:0;
}

p {
    font-size: 14px;
    margin: 0;
}

button {
    box-shadow: none;
    cursor: pointer;
    border: none;
}

form {
    margin-bottom: 20px;
}

input {
    border-radius: var(--radius-md);
    background: var(--clr-background-disabled);
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    outline-color: var(--clr-primary);
    box-sizing: border-box;
    font-size: 14px;
}

input[type="file"] {
    background: none;
    padding: 0;
}

input::file-selector-button {
    cursor: pointer;
    padding: 6px 8px;
    font-weight: bold;
    border-radius: var(--radius-md);
    border: none;
    background-color: var(--clr-secondary);
    color: white;
    transition: var(--transition);
}

input::file-selector-button:hover {
    background-color: var(--clr-secondary-dark);
}


::placeholder {
    color: var(--clr-muted);
}

select {
    border-radius: var(--radius-md);
    background: var(--clr-background-disabled);
    color: white;
    padding: 10px;
    border: none;
    outline-color: var(--clr-primary);
    box-sizing: border-box;
    font-size: 14px;
}

label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}


.btn-primary {
    padding: 14px 20px;
    font-weight: bold;
    border-radius: var(--radius-md);
    border: none;
    background-color: var(--clr-primary);
    color: white;
    transition: var(--transition);
}

.btn-danger {
    padding: 14px 20px;
    font-weight: bold;
    border-radius: var(--radius-md);
    border: none;
    background-color: var(--clr-danger);
    color: white;
    transition: var(--transition);
}

.btn-primary:hover {
    background-color: var(--clr-primary-dark);
}

.btn-danger:hover {
    background-color: var(--clr-danger-dark);
}

.form-error {
    font-size: 14px;
    color: var(--clr-danger);
    margin: 10px 0 10px 0;
    display: none;
}


.form-card {
    max-width: 500px;
    padding: 40px;
    background-color: var(--clr-background-surface);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

.form-container {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.text-disabled {
    color: rgba(255, 255, 255, 0.38);
}

.text-primary {
    color: var(--clr-primary);
}

.text-white {
    color: white;
}

.font-bold {
    font-weight: bold;
}

.text-secondary {
    color: var(--clr-secondary);
}

.base-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 8vw;
}

.section-title {
    font-weight: bold;
    margin-bottom: 50px;
    text-decoration: underline;
    text-decoration-color: var(--clr-primary);
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-align: center;
    letter-spacing: 5px;
}

.section-desc {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    color: white;
    width: 100%;
}

.review-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.film-container {
    display: flex;
    box-sizing: border-box;
    width: 500px;
    margin: 10px;
    border-radius: 6px;
    background: var(--clr-background-surface);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 14px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.film-container:hover {
    border: 2px solid var(--clr-primary);
}

.film-container:hover h5 {
    color: var(--clr-primary);
}

.poster-image {
    width: 8vw;
    height: 12vw;
    object-fit: cover;
    border-radius: var(--radius-md);
    min-width: 120px;
    min-height: 180px;
}

.film-details-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    padding: 1vw;
    border-radius: var(--radius-md);
    width: 240px;
    height: 140px;
    align-items: center;
}

.review-container img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.review-container p {
    color: var(--clr-on-surface-emphasis);
}

.review-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 70%;
    margin-left: 10%;
}

.release-year {
    font-weight: normal;
    font-style: italic;
    color: var(--clr-muted)
}

.film-title {
    font-weight: bold;
}

.film-poster-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
}

.film-poster-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 10vw;
    min-width: 160px;
}

.film-poster-title {
    font-weight: bold;
    text-align: center;
}

.film-poster-card:hover h5{
    color: var(--clr-primary);
}

.stars-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.review-stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.review-stars-container img{
    width: 20px;
    height: auto;
    margin: 0;
}

.stars-img {
    width: 20px;
    height: auto;
    margin-bottom: 4px;
}

.film-poster-card-detail {
    padding-top: 2px;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 6px;
}

.pagination-button {
    padding: 5px 10px;
    border-radius: var(--radius-md);
    background-color: var(--clr-background-surface);
    color: white;
    font-size: 20px;
    transition: var(--transition);
}

.pagination-button.active {
    border: 2px solid var(--clr-primary);
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 10px;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000; /* Make it appear above other elements */
}

/* Modal */
.confirmation-modal {
    background-color: var(--clr-background-surface);
    padding: 20px;
    width: 320px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius-lg);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-container.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

select option:disabled:checked {
    color: var(--clr-muted)
}

@media screen and (max-width: 600px) {
    .profile-picture {
        display: none;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }

    .review-list {
        justify-content: center;
        align-items: center;
    }

    .film-container {
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .film-details-container {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .review-container {
        width: 100%;
        height: 180px;
    }

    .review-details {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .section-title {
        letter-spacing: 2px;
    }


    .form-card {
        letter-spacing: 2px;
        width: 75vw;
    }

}
