.dashboard-content {
    padding: 10px 8vw;
}

.review-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.film-container {
    display: flex;
    box-sizing: border-box;
    width: 32vw;
    min-width: 400px;
    border-radius: 6px;
    margin: 10px;
    background: var(--clr-background-surface);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 14px;
}

.film-container:hover {
    border: 2px solid var(--clr-primary);
}

.film-container:hover h5 {
    color: var(--clr-primary);
}

.poster-image {
    width: 8vw;
    height: 12vw;
    object-fit: cover;
    border-radius: var(--radius-md);
}

.film-details-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.review-container {
    display: flex;
    flex-direction: row;
    background: black;
    padding: 1vw;
    border-radius: var(--radius-md);
    align-items: center;
    min-width: 200px;
    min-height: 140px;
}

.review-container img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.review-container p {
    color: var(--clr-on-surface-emphasis);
}

.review-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 68%;
    margin-left: 10%;
}

.release-year {
    font-weight: normal;
    font-style: italic;
    color: var(--clr-muted)
}

.film-title {
    font-weight: bold;
}

.section-title {
    font-weight: bold;
    margin: 20px 0;
    text-decoration: underline;
    text-decoration-color: var(--clr-primary);
    text-decoration-line: underline;
    text-underline-offset: 10px
}

.film-poster-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1vw;
}

.film-poster-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 10vw;
}

.film-poster-title {
    font-weight: bold;
    text-align: center;
}

.film-poster-card:hover h5{
    color: var(--clr-primary);
}